div.medusa_index_wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}

table.medusa_index {
  table-layout: fixed;
  border-collapse: collapse;
  font-family: 'Open Sans',sans-serif;
  width: 40%;
}

table.medusa_index tbody td {
  padding: 20px;
}

table.medusa_index a {
  text-decoration: none;
  background-color: #B20D30;
  color: #ffffff;
  text-transform: uppercase;
}
table.medusa_index a:hover {
  background-color: #555;
}

table.medusa_index a:active {
  background-color: black;
}


.medusa-div {
  width: 90%;
  background-color: #fefefe;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  padding: 0px 20px 0px 20px;
  margin-top: 5vh;
}
.medusa-options {
    display: flex;
    margin: 0px 0px 5vh 0px;
    padding-top: 5vh;
}
.medusa-options > * {
        flex: 1 1 0;
      }
.medusa-options li {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
.medusa-options li p{
  padding: 0px 4px 0px 4px;
}






table.medusa a {
  text-decoration: none;
  color: #B20D30;
  text-transform: uppercase;
}
table.medusa a:hover {
  text-decoration: underline;
}

table.medusa a:visited {
  color: #390510;
  text-decoration: underline;
}


table.medusa {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  font-family: 'Open Sans',sans-serif;
}

table.medusa thead {
  font-weight: bold;
  color: #B20D30;
}

/* table.medusa thead { */
/*   background-color: #B20D30; */
/*   font-weight: bold; */
/*   color: #ffffff; */
/* } */

table.medusa thead tr th {
  padding: 5px 20px;
  font-size: 1.1rem;
  vertical-align: bottom;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
}

table.medusa tbody td {
  padding: 5px 20px;
  height: 2rem;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: rgba(178, 13, 48, 0.3);
}


table.medusa tbody tr:hover td {
  background-color: #CCCCCC;
}

table.medusa thead th:nth-child(1) {
  text-align: left;
  width: 15%;
}
table.medusa tbody td:nth-child(1) {
  text-align: left;
}


table.medusa thead th:nth-child(2) {
  text-align: left;
  width: 10%;
}
table.medusa tbody td:nth-child(2) {
  text-align: left;
}


table.medusa thead th:nth-child(3) {
  text-align: right;
  width: 5%;
}
table.medusa tbody td:nth-child(3) {
  text-align: right;
}


table.medusa thead th:nth-child(4) {
  text-align: right;
  width: 5%;
}
table.medusa tbody td:nth-child(4) {
  text-align: right;
}


table.medusa thead th:nth-child(5) {
  text-align: right;
  width: 13%;
}
table.medusa tbody td:nth-child(5) {
  text-align: right;
}


table.medusa thead th:nth-child(6) {
  text-align: right;
  width: 5%;
}
table.medusa tbody td:nth-child(6) {
  text-align: right;
}


table.medusa thead th:nth-child(7) {
  text-align: left;
  width: 15%;
}
table.medusa tbody td:nth-child(7) {
  text-align: left;
  border-width: 0.1px 0px 0px 2px;
  border-style: solid dashed;
  border-color: rgba(178, 13, 48, 0.3) rgba(178, 13, 48);
}


table.medusa thead th:nth-child(8) {
  text-align: left;
  width: 12%;
}
table.medusa tbody td:nth-child(8) {
  text-align: left;
}


table.medusa thead th:nth-child(9) {
  text-align: right;
  width: 13%;
}
table.medusa tbody td:nth-child(9) {
  text-align: right;
  font-weight: bold;
}

